             {{!-- Add Page (Admin) --}}
<div class="container" style="margin-left: 175px;">
    <form action="" method="post" enctype="multipart/form-data">
    <div>
        <br>
        Category : <input type="text" placeholder="Enter the Category" class="form-control" name="name">
    </div>

    <div>
        <br>
        Description : <textarea class="form-control" placeholder="Enter the Description" name="desc"> </textarea>
    </div>

    <div>
        <br>
        Image : <input type="file" class="form-control" name="file">
    </div>

    <div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>